In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: DLL load failed while importing _multiarray_umath: Le module spécifié est introuvable.

ImportError: DLL load failed while importing _multiarray_umath: Le module spécifié est introuvable.

ImportError: DLL load failed while importing _multiarray_umath: Le module spécifié est introuvable.

In [32]:
data_path = '..//DATA//DatasetExos.csv'

In [33]:
def load_data(path):
    try:
        data = pd.read_csv(path , sep=',')
        return data
    except Exception as e:
      print(f"Une erreur s'est produite : {e}")

In [34]:
data = load_data(data_path)

In [35]:
data.head(5)

,ep (ms),Acc_x,Acc_y,Acc_z,Gyro_x,Gyro_y,Gyro_z,ID,Exercise,Category,Set
0,2019-01-11 15:08:05.200,0.013500,0.977000,-0.071000,-1.8904,2.4392,0.9388,B,bench,heavy,30.0
1,2019-01-11 15:08:05.400,-0.001500,0.970500,-0.079500,-1.6826,-0.8904,2.1708,B,bench,heavy,30.0
2,2019-01-11 15:08:05.600,0.001333,0.971667,-0.064333,2.5608,-0.2560,-1.4146,B,bench,heavy,30.0
3,2019-01-11 15:08:05.800,-0.024000,0.957000,-0.073500,8.0610,-4.5244,-2.0730,B,bench,heavy,30.0
4,2019-01-11 15:08:06.000,-0.028000,0.957667,-0.115000,2.4390,-1.5486,-3.6098,B,bench,heavy,30.0

In [36]:
# data = data.drop(columns=['Acc_x', 'Acc_y'])
data = data.drop(data.columns[0:7], axis=1)

In [37]:
data = data.dropna(subset=['Category','Set'])

In [38]:
data.head(5)

  ID Exercise Category   Set
0  B    bench    heavy  30.0
1  B    bench    heavy  30.0
2  B    bench    heavy  30.0
3  B    bench    heavy  30.0
4  B    bench    heavy  30.0

In [45]:
unique_ID = np.unique(data['ID'])

In [46]:
unique_Ex = np.unique(data['Exercise'])

In [47]:
unique_Cat = np.unique(data['Category'])

In [48]:
unique_Set = np.unique(data['Set'])

In [43]:
print(unique_ID)
print(unique_Ex)
print(unique_Cat)
print(unique_Set)

['A' 'B' 'C' 'D' 'E']
['bench' 'dead' 'ohp' 'raw' 'rest' 'reste' 'row' 'squat']
['heav' 'heavy' 'medium' 'sitting' 'standing']
[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.  57.
  58.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.  71.  72.
  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.  85.  86.
  87.  88.  89.  90.  91.  92.  93. 111.]

In [44]:
data = data.replace({'heav': 'heavy', 'raw': 'row' , 'reste':'rest'})

In [49]:
print(unique_ID)
print(unique_Ex)
print(unique_Cat)
print(unique_Set)

['A' 'B' 'C' 'D' 'E']
['bench' 'dead' 'ohp' 'rest' 'row' 'squat']
['heavy' 'medium' 'sitting' 'standing']
[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.  57.
  58.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.  71.  72.
  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.  85.  86.
  87.  88.  89.  90.  91.  92.  93. 111.]

In [50]:
print(data[data['ID'] == 'A'])

     ID Exercise  Category   Set
85    A    bench     heavy  86.0
86    A    bench     heavy  86.0
87    A    bench     heavy  86.0
88    A    bench     heavy  86.0
89    A    bench     heavy  86.0
...  ..      ...       ...   ...
8121  A     rest  standing  51.0
8122  A     rest  standing  51.0
8123  A     rest  standing  51.0
8124  A     rest  standing  51.0
8125  A     rest  standing  51.0

[2988 rows x 4 columns]

In [51]:
for ex in np.unique(data['Exercise']):
    dataA = data[data['Exercise'] == ex]
    print (f"for {ex} :")
    # print(np.unique(dataA['Set']))
    print(np.unique(dataA['ID']))
    print(np.unique(dataA['Category']))

for bench :
['A' 'B' 'C' 'D' 'E']
['heavy' 'medium']
for dead :
['A' 'C' 'E']
['heavy' 'medium']
for ohp :
['A' 'B' 'C' 'E']
['heavy' 'medium']
for rest :
['A' 'E']
['sitting' 'standing']
for row :
['A' 'C' 'D' 'E']
['heavy' 'medium']
for squat :
['A' 'B' 'C' 'D' 'E']
['heavy' 'medium']

In [52]:
for id in np.unique(data['ID']):
    dataA = data[data['ID'] == id]
    print (f"for {id} :")
    # print(np.unique(dataA['Set']))
    print(np.unique(dataA['Exercise']))
    print(np.unique(dataA['Category']))

for A :
['bench' 'dead' 'ohp' 'rest' 'row' 'squat']
['heavy' 'medium' 'sitting' 'standing']
for B :
['bench' 'ohp' 'squat']
['heavy' 'medium']
for C :
['bench' 'dead' 'ohp' 'row' 'squat']
['heavy' 'medium']
for D :
['bench' 'row' 'squat']
['heavy' 'medium']
for E :
['bench' 'dead' 'ohp' 'rest' 'row' 'squat']
['heavy' 'medium' 'sitting' 'standing']

In [53]:
for cat in np.unique(data['Category']):
    dataA = data[data['Category'] == cat]
    print (f"for {cat} :")
    # print(np.unique(dataA['Set']))
    print(np.unique(dataA['Exercise']))
    print(np.unique(dataA['ID']))

for heavy :
['bench' 'dead' 'ohp' 'row' 'squat']
['A' 'B' 'C' 'D' 'E']
for medium :
['bench' 'dead' 'ohp' 'row' 'squat']
['A' 'B' 'C' 'D' 'E']
for sitting :
['rest']
['A' 'E']
for standing :
['rest']
['A' 'E']

In [54]:
num_transactions = len(data['ID'].unique())
print(f"Nombre de transactions : {num_transactions}")

Nombre de transactions : 5

In [55]:
num_items = len(data['Exercise'].unique())
print(f"Nombre d'items : {num_items}")

Nombre d'items : 6

In [56]:
# Group by ID and aggregate unique Exercises into a list
dataset_exos_2 = data.groupby('ID')['Exercise'].apply(lambda x: list(set(x))).reset_index()
dataset_exos_2.columns = ['Transaction_ID', 'Items']
print(dataset_exos_2)

  Transaction_ID                                 Items
0              A  [rest, row, ohp, bench, squat, dead]
1              B                   [ohp, bench, squat]
2              C        [row, ohp, bench, squat, dead]
3              D                   [bench, row, squat]
4              E  [rest, row, ohp, bench, squat, dead]

1- Write a function to generate the k-itemset candidates Ck

In [ ]:
def supp_min(support_min):
    pass

2- Write a function to calculate the support of the k-itemsets C

3- Write a function to generate the frequent k-itemsets Lk